<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/test';

            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);


            socket.on('response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text(msg.data).html());
            });

            socket.on('sl_result', function(sl_result) {
                var units = document.getElementById('units').innerHTML = 'units: ' + sl_result.units;
                var TP = document.getElementById('TP').innerHTML = 'TP: ' + sl_result.TP;
                var SL = document.getElementById('SL').innerHTML = 'SL: ' + sl_result.SL;
            });            


            $('form#emit').submit(function(event) {
                socket.emit
                (
                    'SLCalc', 
                        {
                            price: $('#price').val(),
                            TP_price: $('#TP_price').val(),
                            SL_price: $('#SL_price').val(),
                            min_win_ratio: $('#min_win_ratio').val(),
                            percentage: $('#percentage').val(),
                            margin: $('#margin').val(),
                        });
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>SLCalc</h1>
    <form id="emit" method="POST" action='#'>
        Pair: 
        <select>
          <option id="Other" value="Other"></option>
          <option id="eurusd" value="EURUSD">EURUSD</option>
          <option id="gbpusd" value="GBPUSD">GBPUSD</option>
        </select>
        <br>
        <br>
        
        Price:<br>
        <input type="number" step="0.0001" id="price">
        <br>

        TP price:<br>
        <input type="number" step="0.0001" id="TP_price">
        <br>

        SL price:<br>
        <input type="number" step="0.0001" id="SL_price">
        <br>

        Min win ratio:<br>
        <input type="number" step="0.01" id="min_win_ratio">
        <br>

        Max loss (%):<br>
        <input type="number" id="percentage">
        <br>

        margin:<br>
        <input type="number" id="margin">
        <br>

        <br>
        <input type="submit" value="Calculate">
    </form>
    <div>
        <p align="left" id="units">
        <p align="left" id="TP">
        <p align="left" id="SL">
    </div>
</body>
</html>
