<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/test';

            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);


            socket.on('response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text(msg.data).html());
            });


            $('form#emit').submit(function(event) {
                socket.emit
                (
                    'SLCalc', 
                        {
                            price: $('#price').val(),
                            TP_price: $('#TP_price').val(),
                            SL_price: $('#SL_price').val(),
                            min_win_ratio: $('#min_win_ratio').val(),
                            max_loss: $('#max_loss').val(),
                            money: $('#money').val(),
                        });
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>SLCalc</h1>
    <form id="emit" method="POST" action='#'>
        Pair: 
        <select>
          <option id="Other" value="Other"></option>
          <option id="eurusd" value="EURUSD">EURUSD</option>
          <option id="gbpusd" value="GBPUSD">GBPUSD</option>
        </select>
        <br>
        <br>
        
        Price:<br>
        <input type="text" id="price">
        <br>

        TP price:<br>
        <input type="text" id="TP_price">
        <br>

        SL price:<br>
        <input type="text" id="SL_price">
        <br>

        Min win ratio:<br>
        <input type="text" id="min_win_ratio">
        <br>

        Max loss (%):<br>
        <input type="text" id="max_loss">
        <br>

        Money:<br>
        <input type="text" id="money">
        <br>

        <br>
        <input type="submit" value="Calculate">
    </form>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
