<!DOCTYPE HTML>
<html>
<head>
    <title>Trading daddy</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/test';

            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function() {
                socket.emit('request_ui_data', {data: ''});
                socket.emit('request_order_data', {data: ''});
            });

            

            socket.on('orders_data', function(msg) {
                data = JSON.parse(msg)
                var order_table = document.getElementById("order_table"); 
                order_table.innerHTML = data.orders;
            });            

            socket.on('response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text(msg.data).html());
            });

            socket.on('ui_data', function(pairs_string) {
                var pairs = JSON.parse(pairs_string)

                var select = document.getElementById("pairs"); 

                for (var i = 0; i < pairs.length; i++){
                    var pair = pairs[i];

                    var option = document.createElement("option");
                    option.textContent = pair.pair;
                    option.value = pair.id;

                    select.appendChild(option);
                }
            });  
                      

            socket.on('sl_result', function(sl_result) {
                var units = document.getElementById('units').value = sl_result.units;
                var TP = document.getElementById('TP').value = sl_result.TP;
                var SL = document.getElementById('SL').value = sl_result.SL;
            });       

            socket.on('order', function(data) {

                var t = document.querySelector('#productrow');

                var tb = document.querySelector("tbody");
                var clone = document.importNode(t.content, true);
                td = clone.querySelectorAll("td");
                td[0].textContent = data.units;
                td[1].textContent = data.TP;
                td[2].textContent = data.SL;

                tb.appendChild(clone);

            }); 

            socket.on('serve_pair_price', function(data) {
                var price = document.getElementById("price"); 

                price.value = parseFloat(data['price'].toFixed(4))
            
                var SL_price = document.getElementById("SL_price"); 
                SL_price.value = parseFloat(data['price'].toFixed(4))
            });                   

            $('form#calculator_form').submit(function(event) {
                socket.emit
                (
                    'SLCalc', 
                        {
                            pair_id: $('#pairs').val(),
                            price: $('#price').val(),
                            TP_price: $('#TP_price').val(),
                            SL_price: $('#SL_price').val(),
                            min_win_ratio: $('#min_win_ratio').val(),
                            percentage: $('#percentage').val(),
                            margin: $('#margin').val(),
                        });
                return false;
            });

            $('form#order_form').submit(function(event) {
                var pair_select = document.getElementById("pairs")
                var option = pair_select.options[pair_select.selectedIndex]
                var pair_id = option.value

                var price = document.getElementById("price").value
                console.log(price)

                socket.emit
                (
                    'Order', 
                    {
                        pair_id: pair_id,
                        price: price,
                        units: $('#units').val(),
                        TP: $('#TP').val(),
                        SL: $('#SL').val(),
                    });

                return false;
            });  

            var select = document.getElementById("pairs"); 
            select.onchange = function(object){
                var select = document.getElementById("pairs");
                var option = select.options[select.selectedIndex]

                socket.emit
                (
                    'request_pair_price', 
                    {
                        pair: option.textContent,
                    });

                return false;                
            };

        });
    </script>
</head>
<body>
    <div id="calculator" class="split left">
        <h1>SL calculator</h1>
        <form id="calculator_form" method="POST" action='#'>
            Pair: <br>
            <select id="pairs" onchange="getComboA(this)">
              <option id="Other" value="Other"></option>
            </select>
            <br>
            <br>
            
            Price:<br>
            <input type="number" step="any" id="price">
            <br>

            TP price:<br>
            <input type="number" step="any" id="TP_price" value=1.5>
            <br>

            SL price:<br>
            <input type="number" step="any" id="SL_price">
            <br>

            Min win ratio:<br>
            <input type="number" step="any" id="min_win_ratio" value=1.5>
            <br>

            Max loss (%):<br>
            <input type="number" id="percentage" value=1>
            <br>

            margin:<br>
            <input type="number" id="margin" value=10000>
            <br>

            <br>
            <input type="submit" value="Calculate">
        </form>
        <br>
        <br>
        <form id="order_form" action='#'>
            units: <br>
            <input id="units">
            <br>
            TP: <br>
            <input id="TP">
            <br>
            SL: <br>
            <input id="SL">
            <br>

            <br>
            <input type="submit" value="Save order">
        </form>
    <div>

    <div id="order_table" class="split right">

    </div>
</body>
</html>
